div.servicetext {
  max-width: 90vw;
  margin: auto;
  text-align: center;
}
#services,
#moreservices {
  position: relative;
  width: 300%;
  left: -100%;
  right: -100%;
  background: #ab3231;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  color: white;
  text-align: center;
}
div.service-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3em;
  margin-bottom: 1.4em;
}
.service-item {
  min-width: 300px;
  width: 30%;
  background: white;
  padding: 0.9em;
  color: #333;
  margin-bottom: 1em;
}
.servicetext h2 {
  color: white;
}
h1.media-heading {
  font-size: 200%;
}
@media (max-width: 768px) {
  div.service-items {
    flex-direction: column;
    justify-content: center;
  }
  .service-item {
    margin-left: auto;
    margin-right: auto;
  }
}
