/* @override http://xweb14d.plana.dk:8081/Plone/++theme++multitheme/css/accordian.css */

.accordian_title {
	border:  1px solid;
	display: flex;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}

.accordian_title h3 {
  	margin: 0;
  	padding: 0;
}
.accordian_title i {
  	margin-right: 0.3em;
  	font-size: 260%;
}

a.accordian_title.accordion.toggle:hover  {
	text-decoration: none;
	color: #777;
}
.accordiondiv {display: none;}