/* @override http://localhost:8080/asdfasdfasdf/++theme++multitheme/css/accordian_info.css */

section.accordion-info {
		padding-bottom: 2em;
}

.accordiondiv {
	display: none;
}

.accordian_info i {
	font-size: 2.4em;
	line-height: 1.9em;
	width:  1.9em;
	height: 1.9em;
	border:  1px solid;
	border-radius: 50%;
	text-align: center;
}

div.accordiondiv {
	padding-top: 2em;
}