/* @override http://localhost:8080/Plone2/++theme++multitheme/css/button.css */


.roundbutton button {
  padding: 1em 2em;
  border-radius: 2em;
  margin: 1em auto;
}
 

.buttonzoom button:hover {
	  z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}





