#content div.mosaic-grid-row.mosaic-grid-row-fullwidth {
	padding-left:  0;
	padding-right: 0;
}

.mosaic-grid .outer-wrapper > div.container {
	width: 100%
}

.template-edit div.mosaic-grid-row:hover {
	box-shadow:0 0  12px 6px #DDD;
	z-index: 105;
}

.template-edit div.mosaic-grid-row:hover div.mosaic-grid-cell {
	box-shadow:0 0  1px #ffb600;
}

.mosaic-grid-row-fullwidth {
	border:  1px dotted #EEE;
	border-collapse: collapse;
}
.mosaic-grid-row-fullwidth:before {
	content: ">";
	position: relative;
	left:  -1.8em;
	top:  0:;
	width: 1.8em;
	height: 1.7em;
	text-align: center;
	background: #555;
	color:  white;
	border-radius: 5px 0 0 5px;
	
}