
#left-sitemap {
	text-align: left;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	width: 520px;
	max-width: 100%;
	height: 100%; 
	max-height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 40px;
	z-index:99;
	background: #e3e3e3;
	padding: 0;

}
 
 
 
#left-sitemap li {
	list-style-image: none;
	list-style-type: none;
 	font-size: 19px;
	line-height: 37px;
 	display: block;
 	padding-left: 0;
 	padding-right: 0;
}

#left-sitemap ul {
	padding-left: 0;
 	padding-right: 0;
}


ul#left-sitemap.wow.navTreeLevel1 >  a.prevlevel {
	display: none;
}


#left-sitemap  a.prevlevel {
	padding:0;
	margin: 0;
	width: 90%;
	padding: 20px 0 20px 10%;
	display: block;
	font-size: 34px;
	text-align: center;
}

#left-sitemap li.navTreeItem a {
 	border-bottom: 2px dotted #bbb;
 
	padding: 10px 0 10px 18px;
	margin: 0 1%;
	display: inline-block;
	float:  left;
	width: 85%;
}
 

.navChild li  {
	display: none;
}


#portal-left-sitemap a:hover {
	text-decoration: none;	
}


div.navtop {
	background-color: #c9c9c9;
	padding: 0 0 0 20px;
	line-height: 56px;
	border-bottom: 1px solid  #878787;
}

a.navbread {
	font-size: 22px;
	text-transform: uppercase;
}

 
#left-sitemap li  a.nextlevel  {
	width: 12%;
	float: right;
	font-size: 27px;
	color: #878787;
	padding-left:0;
	padding-right: 0;
	margin-right: 0;
	border-bottom: 0 none;
	border-right: 0 none;
	text-align: center;

}
#left-sitemap li  a.nextlevel i {
	  line-height: 32px;

}


a.close-icon {
	float: right;
	color: #878787;
}

a.close-icon i {
	font-size: 40px;
	margin-right: 25px;
	margin-top: 10px;
	padding: 0;
}
a.close-icon:hover {
	color: black
}
















