

#our-tools  {
	text-align: center;
	color:  #666;
	font-weight: 300;
}

#our-tools  p {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}
#our-tools div  {
	padding: 0;
	line-height: 150%;	
}
div.tool-items {
	display: flex;
	padding: 1em ;
	flex-wrap: wrap;
	
}

#our-tools a i {
	color:  #CCC ;	
	font-size: 3em;
}

h1.tool-heading {
	color:  #000;
	margin-top: 10px;
	margin-bottom: 4px;
	font: 16px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


div.tool-item {
	width: 100%;
	min-width: 400px;
	margin: 1em 5px;

}

@media (min-width: 800px){
#our-tools div.tool-item {
	width: 25%;
	min-width: 250px;
	flex-wrap: no-wrap;
}

#our-tools div.tool-item {
	width: 25%;
	min-width: 180px;
}
}

