div.servicetext {
	max-width: 90vw;
	margin: auto;
	text-align: center;
}

#moreservices {
	position: relative;
	width:  300%;
	left:  -100%;
	right:  -100%;
	padding: 1em;
	margin-top:  2em;
	margin-bottom: 2em;
	text-align: center;
}
div.service-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3em;
	margin-bottom: 1.4em;
}

.service-item {
  min-width: 300px;
  width: 30%;

}

