/* @override http://localhost:8080/++theme++multitheme/css/spot.css */


#content-header  {
	background: white;
	border-bottom:  1px solid #CCC;
	box-shadow: 0 0 12px rgba(0,0,0, 0.3);
	position: fixed;
	left: 0;
	right: 0;
	top:  0;
	z-index: 99;
	min-height: 70px;
 
}

div.outer-wrapper {
	margin-top: 71px;
}

#content-header div.container.flex {
	display: flex;
	margin: auto;
}

div#portal-globalnav-wrapper {
	margin-left: auto;
	padding-left: 100px;
}

div#portal-globalnav-wrapper a {
	color:  #777;
	background: inherit;
}

div#portal-globalnav-wrapper a:hover {
	color:  inherit;
}

div#portal-globalnav-wrapper ul.submenu {
	background: white; ;
	box-shadow: 3px 3px 7px rgba(0,0,0, 0.3);
}



#portal-globalnav-wrapper div.plone-navbar-header {
	margin: 6px 10px;
}

button.plone-navbar-toggle.navbar-toggle.collapsed {
	background: #555;
	font-size: 140%
}

 
