.mosaic-grid  #content {
 	margin-bottom: 0;
}

.mosaic-grid-row-fullwidth {
  .container;
}

@media (max-width: 998px) {
  #portal-column-two,
  #sidebar{
    width: 100%;
  }
}

#sidebar img {
  max-width: 100%;
}

.arrow_down {
  width: 134px;
	height: 50px;
	border-left: 67px solid transparent;
	border-right: 67px solid transparent;
	border-top: 50px solid @plone-body-bg;;
	margin-bottom: 15px;
}

div.outer-wrapper {
	overflow-x:hidden;
}

.portletNavigationTree ul li.navTreeItem a {
	background: white;
}

.portletNavigationTree ul li.navTreeItem a:hover {
	text-decoration: none;
}

aside.portlet.portletNavigationTree {
	border-radius: 0;
}


#portal-footer-wrapper,
#portal-footer-wrapper a:hover{
	color: #FFF;
	a {
		color: lighten(@plone-link-opposite, 55%);
	}
}

.summary a {
	font-size: 125%;
 	border-bottom-width: 0 !important;
}

article.entry {
	margin-bottom: 1em;
	border-bottom: 1px dotted lighten(@plone-link-color, 40%);
}


.documentDescription {
	border-bottom: 1px solid @plone-link-color;
	color:  @plone-link-color;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}

.formControls {
	background: lighten(@plone-link-color, 40%);

}
.pat-autotoc.autotabs .autotoc-nav,
.autotabs .autotoc-nav,
nav.autotoc-nav {
	background: #FCFCFC !important;
	a:hover {
			background: @plone-link-secondary !important;
	}
}
nav.autotoc-nav a {
		margin-left: 0 !important;
		margin-right: 2px !important;
}

#content-core .pat-autotoc.autotabs .autotoc-nav a,
#content-core .autotabs .autotoc-nav a
.portaltype-plone-site .pat-autotoc.autotabs .autotoc-nav a,
.portaltype-plone-site .autotabs .autotoc-nav a {
   background: lighten(@plone-link-color, 40%);
}


.image-product figcaption {background: none;}

body.template-login_form #content-core,
body.template-logged_out #content-core {
  background: #FFF;
}

option[value=plone-link],
.plone-link { color: @plone-link-color !important}

option[value=plone-link-2],
.plone-link-2 { color: @plone-link-secondary !important}

option[value=plone-link-3],
.plone-link-3 { color: @plone-link-tertiary !important }

option[value=plone-link-opposite],
.plone-link-opposite { color: @plone-link-opposite  !important}

option[value=plone-background],
.plone-background { background: @plone-link-color  !important}

option[value=plone-background-2],
.plone-background-2 { background: @plone-link-secondary  !important}

option[value=plone-background-3],
.plone-background-3 { background: @plone-link-tertiary  !important}

option[value=plone-background-opposite],
.plone-background-opposite { background: @plone-link-opposite  !important}


.black-background { background-color: #000  !important}
.white-background { background-color: #FFF  !important}
option[value=grey-background], .grey-background { background-color: #DDD  !important}

.black { color: #000  !important}
.white { color: #FFF  !important}
.grey { color: #DDD  !important}

:root {
  --plone-link-color : @plone-link-color ;
}

:root {
  --plone-link-secondary : @plone-link-secondary ;
}

:root {
  --plone-link-tertiary : @plone-link-tertiary ;
}

:root {
  --plone-link-opposite : @plone-link-opposite ;
}
